<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel = "stylesheet" href = "/Css/newTodo.css">
    <title>New Todo</title>
</head>
<body>
    <form id="newTodoForm" action="/todoForm" method="POST">
        <input type="text" name="title" id="todoTitle" placeholder="Title">
        <input type="text" name="description" id="todoDescription" placeholder="Description">
        <input type="submit" value="save">
    </form>
    <script src="../index.js"></script>
</body>
</html>